snippet lr "add parentheses" m
	\\left( $0 \\right)

snippet eq "equation env"
	\\begin{equation}
		$0
	\\end{equation}

snippet gat "gather env"
	\\begin{gather}
		$0
	\\end{gather}

snippet ggat "gathered env"
	\\begin{gathered}
		$0
	\\end{gathered}

snippet ali "align env"
	\\begin{align}
		$0
	\\end{align}

snippet aali "aligned env"
	\\begin{aligned}
		$0
	\\end{aligned}
